{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Liste des Postes</h1>

<ul>
    {% for post in posts %}
        <li>Titre: {{ post.title|upper() }} - Contenu: {{ post.content }}</li> {# adaptons ici selon le nom des propriétés de notre entité Poste #}
    {% else %}
        <li>Aucun poste disponible.</li>
    {% endfor %}
</ul>
{% endblock %}