footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    padding: 1rem;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    padding: 5rem 0;
    border-bottom: 1px solid var(--color-secondary);
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border: 1px solid var(--color-secondary);

}


.logo {
  color: var(--color-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 3rem;
}

.social-media {
  display: flex;
  gap: 1rem;
  padding: 3rem;
}

@media screen and (min-width: 1024px) {
  .services {
    flex-direction: row;
    padding: 10rem 5rem;
}
  .service {
    flex: 1;
    padding: 2rem;
    border: none;
  }
}