
header {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
  padding: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo b {
  padding-top: 1.3rem;
  font-size: 25px;
}

i.fa-bars {
  font-size: 2.4rem;
}


#catag {
  border: none;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  display: none;
}


.search-bar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.search {
  display: flex;
}

.search input {
  border: none;
  padding: 0.5rem;
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  width: clamp(15rem, 40vw, 50rem);
}

.search div {
  background-color: var(--color-quinary);
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

.lang-cart-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.flag-lang {
  display: flex;
  align-items: center;
}

.flag-lang select {
  background: transparent;
  border: none;
  color: var(--color-secondary);
}

.lang-cart-user i {
  font-size: 1.5rem;
  padding: 0 10px;
}

.cart-user {
  display: flex;
  gap: 1rem;
}


.slider {
  padding: 10rem 0;
}


.swiper {
  width: 50vw;
  height: 20rem;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }




@media screen and (min-width: 1024px) {
    nav {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
    }
    .lang-cart-user,
    .search-bar,
    .cart-user {
      gap: 2rem;
      padding-top: 0;
    }
    #catag {
      display: block;
    }
}