.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5rem;
  padding: 5rem 2rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem
}

.image-container {
  height: 20rem;
  width: 50%;
}

.title-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}