.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 5rem 2rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 20rem;
}

.image-container {
  height: 20rem;
  width: 50%;
  height: 100%;
}

.title-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.categories-container a {
      padding: 0.5rem 1rem;
      background-color: var(--color-quinary);
      color: var(--color-secondary);
      border-radius: var(--border-radius);
}