.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-list {
  position: absolute;
  top: 0;
  left: -10%;
  background-color: var(--color-tertiary);
  height: 100vh;
  width: 20vw;
}
.open {
  position: absolute;
  top: 0;
  left: 10%;
}