
:root {
    --color-primary: #606c38;
    --color-secondary: #fefae0;
    --color-tertiary: #283618;
    --color-quaternary: #dda15e;
    --color-quinary: #bc6c25;
    --border-radius: 0.3rem;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
figure,
video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
        background-color: var(--color-quaternary);
      }

