header {
  display: flex;
  flex-direction: column;
  color: var(--color-secondary);
}

.logo {
  color: var(--color-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.logo img {
  mix-blend-mode: multiply;
  height: 5rem;
  width: 5rem;
}

.logo b {
  padding-top: 1.3rem;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

i.fa-bars {
    font-size: 2.5rem;
}

nav div.search-bar {
    display: flex;
    justify-content: space-between;
}


.search input {
    width: 16rem;
    border: none;
    padding: .5rem;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    height: 100%;
}

.search button {
    /* font-size: 1.5rem; */
    border: none;
    padding: .5rem;
    background-color: var(--color-quaternary);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    height: 100%;
}



.lang-cart-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-lang select {
  background: transparent;
  border: none;
  padding: 1rem;
  color: var(--color-secondary);
}

.lang-cart-user i {
  font-size: 1.5rem;
}


.cart-user {
  display: flex;
  gap: 1rem;
}

.cart-user div > * {
  padding: 5px;
}



.slider .btn-new {
  border: none;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  padding: .5rem 1rem;
}



/* #catag {
  width: 8rem;
  padding: 0.5rem;
  border: none;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  display: none;
} */









swiper-container {
      height: 50rem;
      padding: 0 5rem;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .img-new-container {
        height: 30rem;
    }

    .btn-price-new-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        gap: 5rem;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }















footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    padding: 1rem;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}


.logo {
  color: var(--color-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.logo img {
  mix-blend-mode: multiply;
  height: 5rem;
  width: 5rem;
}

.logo b {
  padding-top: 1.3rem;
  color: var(--color-secondary);
}