<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}La Boutika{% endblock %}</title>
    <script
      src="https://kit.fontawesome.com/fdc9ecfad2.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
    />
    {% block stylesheets %} {% endblock %} {% block javascripts %} {% block
    importmap %}{{
      importmap("app")
    }}{% endblock %} {% endblock %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script>
      const progressCircle = document.querySelector(".autoplay-progress svg");
      const progressContent = document.querySelector(".autoplay-progress span");

      const swiperEl = document.querySelector("swiper-container");
      swiperEl.addEventListener("autoplaytimeleft", (e) => {
        const [swiper, time, progress] = e.detail;
        progressCircle.style.setProperty("--progress", 1 - progress);
        progressContent.textContent = `${Math.ceil(time / 1000)}s`;
      });
    </script>
  </head>
  <body>
    <main>{% block body %}{% endblock %}</main>
  </body>
</html>
